/* Config */

:root {
  --c-dark-goldenrod: hsl(40, 100%, 35%);
  --c-gold-tips: hsl(40, 80%, 55%);
  --c-venetian-red: hsl(350, 100%, 40%);
  --c-dark-pink: hsl(350, 80%, 60%);
  --c-wood-bark: hsl(30, 20%, 10%);
  --c-cement: hsl(30, 20%, 50%);
  --c-pampas: hsl(30, 20%, 90%);
  --s-leading: 1.375rem;
  --s-leading-double: calc(1.375rem * 2);
  --s-leading-half: calc(1.375rem * 0.5);
}

/* General styles and normalizations */

* {
  box-sizing: border-box;
  font-size: inherit;
}

html {
  font-size: calc(1.2rem + (2 - 1.2) * (100vw - 28rem) / (120 - 28));
  font-family: "Input", "Office Code Pro", "Source Code Pro", "Fira Mono",
    "Inconsolata", "Monaco", "Consolas", "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", monospace;
  line-height: var(--s-leading);
  color: var(--c-wood-bark);
  background: var(--c-pampas);
  transition: color 0.5s, background 0.5s;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 0.1rem dotted transparent;
}

a:hover {
  border-bottom-color: currentColor;
}

svg {
  shape-rendering: geometricPrecision;
  fill: currentColor;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Status component */

#status {
  position: fixed;
  z-index: -1;
  top: var(--s-leading);
  right: var(--s-leading);
  line-height: var(--s-leading-half);
  pointer-events: none;
}

#status figure {
  transition: all 1s;
  opacity: 0;
  margin: 0;
  padding: 0;
  color: var(--c-cement);
}

body.is-playing #status-playing,
body.is-scrolling #status-scrolling {
  opacity: 1;
}

/* Intro component */

#intro {
  display: inline-block;
  padding: var(--s-leading-double) var(--s-leading-half);
}

#intro p {
  font-weight: bold;
  margin: 0;
}

#intro p span {
  white-space: nowrap;
}

/* this svg is logo */
#intro svg {
  width: 100%;
  max-height: 33vh;
  transition: max-height 0.5s;
  margin-bottom: var(--s-leading);
}

/* Log component */

#log {
  list-style: none;
  margin: 0;
  padding: 0 0 var(--s-leading-double);
}

#log li {
  white-space: pre-line;
}

#log li:not(:first-child) {
  margin-top: var(--s-leading-half);
}

#log neg,
#log pos {
  display: inline;
}

#log neg {
  color: var(--c-venetian-red);
}

#log pos {
  color: var(--c-dark-goldenrod);
}

#log em {
  font-weight: bold;
}

#log i,
#log em {
  font-style: normal;
}

/* these svgs are icons */
#log svg {
  height: var(--s-leading);
  width: 1.125rem;
  display: inline-block;
  vertical-align: top;
}

#log svg,
#log i {
  margin-right: 0.125em;
}

#log svg.skull {
  margin-right: 0.25rem;
}

/* Outro component */

#outro {
  height: auto;
  max-height: 0;
  padding-bottom: 0;
  overflow: hidden;
  transition: all 1s;
}

#outro button {
  display: block;
  cursor: pointer;
  visibility: hidden;
  transition: opacity, visibility 1s;
  opacity: 0;
  margin: 0 auto;
  padding: 0;
  background: var(--c-pampas);
  border-radius: 0.35rem;
  border-width: 0;
  box-shadow: 0 0 0 0.1rem var(--c-wood-bark);
}

#outro button label {
  pointer-events: none;
  display: inline-block;
  padding: 0.25rem 0.75rem 0.375rem;
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
  color: var(--c-wood-bark);
  background-color: var(--c-pampas);
  box-shadow: 0 0 0 0.1rem var(--c-wood-bark);
}

#outro button:hover {
  margin-top: 0.1rem;
}

#outro button:hover label {
  margin-bottom: 0.4rem;
}

#outro button:active {
  margin-top: 0.2rem;
}

#outro button:active label {
  margin-bottom: 0.3rem;
}

body.is-over #outro {
  max-height: 100vh;
  padding-top: 0.1rem;
  padding-bottom: calc(var(--s-leading) * 3);
}

body.is-over #outro button {
  opacity: 1;
  visibility: visible;
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
  html {
    color: var(--c-pampas);
    background: var(--c-wood-bark);
  }

  #log neg {
    color: var(--c-dark-pink);
  }

  #log pos {
    color: var(--c-gold-tips);
  }

  #outro button {
    background: var(--c-wood-bark);
    box-shadow: 0 0 0 0.1rem var(--c-pampas);
  }

  #outro button label {
    color: var(--c-pampas);
    background-color: var(--c-wood-bark);
    box-shadow: 0 0 0 0.1rem var(--c-pampas);
  }
}
