/* General styles and normalizations */

* {
  box-sizing: border-box;
  font-size: inherit;
}

html {
  font-size: calc(1.2rem + (2 - 1.2) * (100vw - 28rem) / (120 - 28));
  font-family: "Input", "Office Code Pro", "Source Code Pro", "Fira Mono",
    "Inconsolata", "Monaco", "Consolas", "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", monospace;
  line-height: 2;
  color: hsl(30, 20%, 10%);
  background: hsl(30, 20%, 90%);
  transition: color 0.5s, background 0.5s;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  html {
    color: hsl(30, 20%, 90%);
    background: hsl(30, 20%, 10%);
  }
}

a {
  color: inherit;
}

a:hover {
  text-decoration-style: dotted;
}

svg {
  shape-rendering: geometricPrecision;
  fill: currentColor;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Status component */

#status {
  position: fixed;
  z-index: -1;
  top: 1rem;
  right: 1rem;
  line-height: 0.5;
}

#status figure {
  transition: all 1s;
  opacity: 0;
  margin: 0;
  padding: 0;
  color: inherit;
}

body.is-playing #status-playing,
body.is-scrolling #status-scrolling {
  opacity: 0.5;
}

/* Intro component */

#intro {
  display: inline-block;
  padding: 2rem 1rem;
}

/* this svg is logo */
#intro svg {
  width: 100%;
  max-height: 33vh;
  margin-bottom: 0.5rem;
  transition: max-height 0.5s;
}

/* Log component */

#log {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
}

#log li {
  white-space: nowrap;
}

#log neg,
#log pos {
  display: inline;
}

/* NOTE: neg and pos colors need to work over dark and light background */
#log neg {
  color: hsl(350, 100%, 40%);
}

#log pos {
  color: hsl(75, 100%, 25%);
}

#log em {
  font-style: normal;
  font-weight: bold;
}

/* these svgs are icons */
#log svg {
  height: 1em;
  width: 1em;
  display: inline-block;
  vertical-align: -0.1em;
  margin-right: 0.1em;
}
